@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333;
}

.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50;
}

.trade-container {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px; /* Set a fixed width */
    margin: 0 auto; /* Center align the container */
}

.left-side, .right-side {
    flex: 1;
    max-width: 1500px;
    display: flex;
    flex-direction: column; /* Change to column for vertical alignment */
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
    padding: 20px;
    overflow-y: auto; /* Add scroll if content overflows */
}

.left-side {
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: white;
}

.right-side {
    background: #ecf0f1;
    color: #2c3e50;
}

.player-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 90%;
}

.player-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.player-worth {
    background-color: #2ecc71;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.total-worth {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.result-bubble {
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.back-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.modify{
    display: block;
    width: 220px;
    height:39px;
    font-size: 16px;
    margin: 20px auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    appearance: none;
}

.modify:hover{
    background-color:#2980b9;
}
.back-button:hover {
    background-color: #2980b9;
}
